.THIS  .connectTriggerButton{
    
    
    margin-left: 40%;
    
}

.THIS .radioBut{
   padding-left: 44%;
    padding-top: 6.5%;
   
    padding-bottom: 10px;
}

.THIS	.customRadioCls .slds-form-element__control .slds-radio{
    display : inline-block !important;
}

.THIS .Disconnect{
    margin-left: 40%;
    margin-top: 10px;
   
}
.THIS  .Inner-Container{
    max-width: 1000px;
    margin: auto;
    background: white;
    padding: 5px;
}
.THIS .header{ 
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}